.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.rightbarprofileImgContainer{
    margin-right: 10px;
    position: relative;
}
.rightProfile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.personOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position:absolute;
    top: -2px;
    right: 0;
    border: 2px solid white ;
}
.personName{
    font-weight: 500;
}